<!-- Trigger modal -->
@Trigger(Config)

<!-- Modal -->
<div class="modal fade" id="@Config.Id" tabindex="-1" aria-labelledby="title_@Config.Id" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @if (ModalTitle is not null)
                {
                    @ModalTitle(Config)
                }
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @if (ModalBody is not null)
            {
                <div class="modal-body">
                    @ModalBody(Config)
                </div>
            }
            @if (ModalFooter is not null)
            {
                <div class="modal-footer">
                    @ModalFooter(Config)
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public ModalConfig Config { get; set; } = new()
    {
        Id = "Modal"
    };

    [Parameter]
    [EditorRequired]
    public RenderFragment<ModalConfig> Trigger { get; set; } = default!;

    [Parameter]
    public RenderFragment<ModalConfig>? ModalTitle { get; set; }

    [Parameter]
    public RenderFragment<ModalConfig>? ModalBody { get; set; }

    [Parameter]
    public RenderFragment<ModalConfig>? ModalFooter { get; set; }

    public class ModalConfig
    {
        public required string Id { get; set; } = string.Empty;
    }
}
